*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-hover-softRed: hsl(14, 88%, 65%);
  --color-header-isClicked: hsl(238, 29%, 16%);
  --color-header-normal: hsl(237, 15%, 27%);
  --color-normal-text: hsl(237, 11%, 60%);
  --color-dividers: hsl(240, 5%, 91%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-normal-text);
  font-weight: 400;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  color: hsl(238, 29%, 16%);
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
}

h2 {
  color: var(--color-header-normal);
  font-weight: 500;
  font-size: 1.5rem;
}

/* A components of the faq */
.faq__header {
  text-align: center;
}
.faq__sections {
  border-bottom: 1px solid var(--color-dividers);
  padding: 2rem 1rem;
}

.faq__sections-heading {
  display: flex;
  justify-content: space-between;
}

.icons i {
  color: var(--color-hover-softRed);
}
.question {
  transition: color 0.2s;
  cursor: pointer;
}

.question:hover {
  color: var(--color-hover-softRed);
}

.answer {
  margin-top: 1rem;
}
